
/* font-family Akshar*/
@font-face {
    font-family: Akshar;
    src: url('../fonts/Akshar-Regular.ttf');
}

@font-face {
    font-family: Abold;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

/* font-family Poppin*/
@font-face {
    font-family: Poppin;
    src: url('../fonts/Poppins-Regular.ttf');
}


